.footer_container {
  /* z-index: -1; */
  background-color: black;
  height: 160px;
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 0px 10px #fff;
  /* border-radius: 30px 30px 0px 0px; */
  box-shadow: 0px -4px 12px -6px #fff;
  border-top: 1.9px solid #fff;
  line-height: 1.6;
  margin-bottom: 20px;
}

.footertext{
  color: #fff;
}



.social_icons {
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  font-size: 1.5rem;
}

.social_icons a {
  color: #fff;
  transition: color 0.3s ease;
}

.linkedin:hover {
  color: #005582;
}

.youtube:hover {
  color: #c20000;
}
.instagram:hover {
  color: #bc2a8d; 
}


